In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("./kaggle_titanic/test.csv")

In [168]:
# 여성 1등급 90% 생존
# 여성 2등급 70%생존
# 여성 3등급 50%생존

# 남성 1등급 70% 생존
# 남성 2등급 40% 생존
# 남성 3등급 10% 생존


dfFemale = df [df["Sex"] == "female"]
dfMale = df [df["Sex"] == "male"]

In [106]:
dfMalePClass2.iloc[[1,2,3,4]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0,D56,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.5,NaN,S

In [105]:
import numpy as np

In [17]:
from functools import reduce
def mask(df, arg):
    (sex, pclass, ratio) = arg
    dfclass = df [df["Sex"] == sex and dfclass["Pclass"] == pclass]
    maskClass = np.random.randint(len(dfclass), size=int(len(dfclass)*ratio))
    dfclass = dfclass.ilic[maskClass]
    print(typeof(dfclass))
    return dfclass

config = [
    ('male', 1, 0.7),
    ('male', 2, 0.4),
    ('male', 3, 0.1),
    ('female', 1, 0.9),
    ('female', 2, 0.7),
    ('female', 3, 0.5),
]

resultDf = reduce((lambda x, y: x.append(mask(x, y))), config)
# dfMClass1 = dfMale[dfMale["Pclass"] == 1]
# dfMClass2 = dfMale[dfMale["Pclass"] == 2]
# dfMClass3 = dfMale[dfMale["Pclass"] == 3]

# maskMClass1= np.random.randint(len(dfMClass1), size=int(len(dfMClass1)*0.7))
# dfMClass1 = dfMClass1.iloc[maskMClass1]

# maskMClass2 = np.random.randint(len(dfMClass2), size=int(len(dfMClass2)*0.4))
# dfMClass2 = dfMClass2.iloc[maskMClass2]

# maskMClass3 = np.random.randint(len(dfMClass3), size=int(len(dfMClass2)*0.1))
# dfMClass3 = dfMClass3.iloc[maskMClass3]

# dfFClass1 = dfFemale[dfFemale["Pclass"] == 1]
# dfFClass2 = dfFemale[dfFemale["Pclass"] == 2]
# dfFClass3 = dfFemale[dfFemale["Pclass"] == 3]

# maskFClass1= np.random.randint(len(dfFClass1), size=int(len(dfFClass1)*0.9))
# dfFClass1 = dfFClass1.iloc[maskFClass1]

# maskFClass2 = np.random.randint(len(dfFClass2), size=int(len(dfFClass2)*0.7))
# dfFClass2 = dfFClass2.iloc[maskFClass2]

# maskFClass3 = np.random.randint(len(dfFClass3), size=int(len(dfFClass2)*0.5))
# dfFClass3 = dfFClass3.iloc[maskFClass3]

# resultDf = dfMClass1.append(dfMClass2)
# resultDf = resultDf.append(dfMClass3)
# resultDf = resultDf.append(dfFClass1)
# resultDf = resultDf.append(dfFClass2)
# resultDf = resultDf.append(dfFClass3)

AttributeError: 'tuple' object has no attribute 'append'

In [172]:
resultMask = resultDf["PassengerId"].values

def deadOrAlive(mask):
    if mask in resultMask:
        return 1
    else:
        return 0
    
df["Survived"] = df["PassengerId"].apply(deadOrAlive)
# df["Survived"] = 0
# df.iloc[resultMask]

In [173]:
result = df[["PassengerId", "Survived"]]

In [174]:
result.to_csv("a.csv", index=None)