# 데이터 타입 살펴보기

## type() 
type() 으로 데이터 타입을 알아낼 수 있다.

In [3]:
type(1)

int

In [4]:
type(3.5)

float

In [5]:
type("hello")

str

In [6]:
type("2.7")

str

In [7]:
type('sk planet')

str

## int

- 정수형 타입
- 사칙연산 가능 (+, -, *, / , //, **)

In [8]:
1 + 2

3

In [9]:
2 + 3 * 4

14

In [10]:
(2 + 3) * 4

20

In [11]:
2 ** 10

1024

In [12]:
10 / 3

3.3333333333333335

In [13]:
0.1 + 0.2

0.30000000000000004

In [14]:
10 // 3

3

In [15]:
10 % 3

1

## float
- 실수, 부동소숫점형

In [16]:
type(0.3)

float

In [17]:
type(10 / 3)

float

## str
- 문자열이라고 함
- ' 또는 "로 감싸서 사용

In [18]:
'hello'

'hello'

In [19]:
"hello"

'hello'

In [20]:
type('123')

str

In [21]:
'hello' + ' world'

'hello world'

In [22]:
"hello " * 3

'hello hello hello '

In [23]:
# "a" * "b" error

In [24]:
'5' + '3'

'53'

In [24]:
int('5') + int('3')

8

In [25]:
float('3.5')

3.5

In [27]:
"hello " + str(3)

'hello 3'

In [29]:
"hello {} {}".format(3, 5)

'hello 3 5'

## bool
- 참 또는 거짓을 표현하는데 사용

In [30]:
True

True

In [31]:
False

False

In [33]:
5 > 3

True

In [34]:
3 == 3

True

In [35]:
3 > 3

False

In [36]:
type(True)

bool

In [37]:
type(None)

NoneType

# 변수 
- 데이터를 저장하는 데 사용

In [38]:
a = 4
b = 5

In [39]:
a = a + 1

In [40]:
a == a + 1

False

In [43]:
a += 1
a

7

In [ ]:
type(a)

In [ ]:
a + b

In [ ]:
a == 3 # 동등 연산자, 비교 연산자

# collection
- 여려 값들을 묶어서 사용하는 데이터 타입


## List
- 가장 많이 사용됨
- 순서가 있고
- 중복값을 허용 
- 읽기 쓰기 다 됨

In [44]:
numbers = [1, 2, 3, 4, 5,]
# index    0  1  2  3  4
# index    -5 -4 -3 -2 -1

In [46]:
numbers

[1, 2, 3, 4, 5]

In [47]:
type(numbers)

list

In [48]:
numbers[0]

1

In [49]:
numbers[0] = 100
numbers

[100, 2, 3, 4, 5]

In [50]:
numbers[4]

5

In [51]:
len(numbers)

5

In [52]:
# numbers[5] error

IndexError: list index out of range

In [53]:
numbers.append(99)
numbers

[100, 2, 3, 4, 5, 99]

In [54]:
x  = numbers.pop()
x

99

In [55]:
numbers

[100, 2, 3, 4, 5]

In [60]:
numbers = numbers + [3]

In [61]:
numbers = numbers + [3, 4, 5]
numbers

[100, 2, 3, 4, 5, 3, 3, 4, 5]

In [62]:
numbers * 2

[100, 2, 3, 4, 5, 3, 3, 4, 5, 100, 2, 3, 4, 5, 3, 3, 4, 5]

In [64]:
import numpy as np

In [65]:
na = np.array([1, 2, 3, 4, 5])
na

array([1, 2, 3, 4, 5])

In [66]:
na * 2

array([ 2,  4,  6,  8, 10])

In [67]:
na + [1, 1, 1, 1, 1]

array([2, 3, 4, 5, 6])

## 마지막 원소에 쉽게 접근하는 법

In [68]:
numbers[-1]

5

In [69]:
numbers[len(numbers) - 1]

5

In [77]:
numbers[-2]

4

## Set
- 집합
- 순서가 없고
- 중복을 허용하지 않는다

In [78]:
numbers = [1, 1, 1, 2, 2, 2, 3, 4, 5]
numbers

[1, 1, 1, 2, 2, 2, 3, 4, 5]

In [79]:
set1 = set(numbers)

In [80]:
set1

{1, 2, 3, 4, 5}

In [109]:
type(set1)

set

In [111]:
a = {1, 2, 3,}
type(a)

set

In [112]:
b = {1:1, 2:2, 3:3}
type(b)

dict

###### Quiz 
다음 리스트의 중복만 제거해 봅시다!

In [81]:
arr = [1, 2, 3, 4, 5, 6, 6, 6, 7]
arr = list(set(arr))
arr

[1, 2, 3, 4, 5, 6, 7]

## Tuple
- 리스트와 유사하지만 원소의 값을 변경할 수 없다. 
- 읽기 전용 리스트라고 생각하자.
- 순서가 있고
- 중복 허용
- 읽기 전용

In [82]:
t1 = (2, 4, 6, 8, 10)
type(t1)

tuple

In [83]:
t1

(2, 4, 6, 8, 10)

In [84]:
t1[0]

2

In [108]:
# t1[0] = 20 error

In [86]:
a = 3
b = 2

In [89]:
a,b = b,a
print(a, b)

2 3

In [90]:
def foo(n):
    return (n, n +1)

In [91]:
x = foo(10)
x

(10, 11)

In [92]:
x, y = foo(10)
print(x, y )

10 11

## Dictionary 
- 키와 값으로 이루어진 자료구조 
- 리스트와 비슷한 것처럼 보이지만 전혀 다르다
- 키는 중복을 허용하지 않는다
- 값은 중복을 허용

In [95]:
scores = {
    '정호영': 99,
    'Alice': 33, 
    'Bob': 70,
    'Bill Gates': 5,
    }

In [96]:
scores

{'Alice': 33, 'Bill Gates': 5, 'Bob': 70, '정호영': 99}

In [98]:
scores['Alice']

33

In [99]:
# scores['John']

KeyError: 'John'

In [100]:
'Jhon' in scores

False

In [101]:
'Alice' in scores

True

In [102]:
scores['John'] = 50
scores

{'Alice': 33, 'Bill Gates': 5, 'Bob': 70, 'John': 50, '정호영': 99}

In [103]:
p = {"name":"정호영", "money": 50, "age": 25}

In [104]:
p['name']

'정호영'

In [105]:
p['money'] = 150

In [106]:
p

{'age': 25, 'money': 150, 'name': '정호영'}