# 함수와 람다 

## 함수

- 수학의 함수와 유사
- 코드의 로직을 간결하게 하기 위해 
- 코드를 재사용하기 위해 
- 입문자가 넘어야 할 산

## 함수의 작업 과정 
* 매개변수(입력) -- 처리(로직 수행) -- 리턴(출력)
* 매개변수와 리턴은 option

## 함수 선언하기

### 매개변수가 없는 함수
- 매개변수 없고
- 리턴값도 없다.

In [2]:
def hello():
    print("안녕하세요")

### 함수 호출하기 
- 반드시()가 필요함

In [3]:
hello

In [4]:
hello()

안녕하세요

In [5]:
b = hello
b()

안녕하세요

In [6]:
a = [hello]
a[0]()

안녕하세요

### 매개변수가 있는 함수 
 - 리턴은 여전히 없다.

In [7]:
def hello(name):
    print("{}님 안녕하세요?".format(name))

hello('파이썬')
hello('코브라')

파이썬님 안녕하세요?
코브라님 안녕하세요?

In [9]:
def hap(a, b):
    c = a + b
    print("{} + {} = {}".format(a, b, c))

In [12]:
hap(5, 3)
hap(10, 20)
hap('hello', ' world')

5 + 3 = 8
10 + 20 = 30
hello +  world = hello world

## 리턴 값이 있는 함수

In [15]:
x = hap(2, 3)
print("x = {}".format(x))
print(x is None)

2 + 3 = 5
x = None
True

In [18]:
print(x)
print(x is None)

None
True

In [13]:
def hap2(a, b):
    return a + b

In [19]:
x = hap2(2, 5)
print("x = {}".format(x))
print(x is None)

x = 7
False

## 유용한 함수 및 메소드

파이썬에 기본적으로 들어 있는 유용한 함수 및 메소드를 살펴 본다.

### 숫자 관련 함수

- int(), float()
- math 모듀

In [20]:
str1 = "35"
int(35)

35

In [21]:
int("FF", 16)

255

In [22]:
int("1111", 2)

15

In [23]:
int("343",5)

98

In [24]:
int("G", 17)

16

In [ ]:
str1 = "3.14159"
n2 = float(str1)
type(n2)

### math module 맛보기

In [25]:
import math 
print(math.floor(32.5))
print(math.ceil(32.5))
print(math.e)

32
33
2.718281828459045

In [26]:
math.log(math.exp(2))

2.0

### 문자열 관련 메소드
- str()
- split(), join()
- 문자열의 4칙 연산

In [27]:
"hello,world,this,is,lonely,planet".split(',')

['hello', 'world', 'this', 'is', 'lonely', 'planet']

In [28]:
b = "hello|world".split("|")
b

['hello', 'world']

In [31]:
" ".join(b)

'hello world'

In [32]:
a = [1, 2, 3, 4, 5]
# '-'.join(a) error

TypeError: sequence item 0: expected str instance, int found

In [35]:
a2 = []
for i in a:
    a2.append(str(i))
'-'.join(a2)

'1-2-3-4-5'

In [36]:
'-'.join([str(i) for i in a])

'1-2-3-4-5'

In [ ]:
# ','.join(a)
''.join(a)

### 리스트 관련 메소드

- append()
- pop()
- index()
- remove()
- sort()
- 리스트의 4칙 연산

In [43]:
a = []

a.append(3) # a += [3]
a.append(5)
a.append(7)
a

[3, 5, 7]

In [44]:
x = a.pop()
print(x)
print(a)

7
[3, 5]

In [45]:
a = [100, 200, 300, 200]
a

[100, 200, 300, 200]

In [46]:
a.index(200)

1

In [49]:
# a.index(999) error

In [48]:
999 in a

False

In [51]:
if 500 in a:
    print(a.index(500))

In [52]:
a.remove(200)
a

[100, 300, 200]

### 딕셔너리 관련 메소드

- get()

In [55]:
a = {'name':'Dooly', 'age': 40, 'money': 99999999}

In [56]:
a['name']

'Dooly'

In [57]:
a['girlfriend']

KeyError: 'girlfriend'

In [63]:
x = a.get('name')
print(x)

Dooly

In [64]:
x = a.get('girlfriend')
print(x)

None

## 람다 

람다(lambda) 는 축약 함수 또는 이름 없는 함수라고 합니다.

데이터 처리를 위해서 종종 사용하기 때문에 좀 어렵더라도 사용법을 아는 게 좋습니다. 

함수를 쓸 수 있는 곳에 대부분 사용 가능하고, 일부 함수로는 할 수 없는 일도 가능한 경우도 있습니다.

In [2]:
def hap(a, b):
    return a + b

hap(2,5)

7

In [3]:
(lambda a, b: a + b)(2, 5)

7

In [4]:
lambda_sum = lambda a, b: a + b
lambda_sum(2, 5)

7

In [8]:
(lambda x: x ** 2)(150)

22500

### map, reduce, filter

람다 함수를 활용하는 예를 map, reduce, filter를 통해 알아 봅시다.

In [6]:
def two(x):
    return x * 2
two(10)

20

In [9]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
b = []
for i in a:
    b.append(two(i))
b

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
list(map(two, a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
list(map(lambda x: x * 2, a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
b = []
for i in a:
    b.append(str(i))
"-".join(b)

'1-2-3-4-5-6-7-8-9-10'

In [21]:
"-".join(list(map(lambda x: str(x), a)))

'1-2-3-4-5-6-7-8-9-10'

In [22]:
"-".join(list(map(str, a)))

'1-2-3-4-5-6-7-8-9-10'

In [24]:
a2 = list(range(-5, 6))
print(a2)
list(map(abs, a2))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

[5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5]

In [28]:
int(True)

1

In [29]:
int(False)

0

In [30]:
list(map(lambda x: int(x > 0), a2))

[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

## filter 
- 리스트의 요소들 중에서 람다 조건식을 만족하는 요소들만 남김

In [31]:
a2

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

In [33]:
list(filter(lambda x: x > 0 and x % 2 == 0, a2))

[2, 4]

## reduce
누적해서 연산을 적용하는 함수

In [34]:
from functools import reduce

In [35]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
reduce(lambda x, y: x + y, a)

55

## list comprehension

- 매우 편리하고 강력한 기능 
- 쉽게 다양한 리스트를 만들 수 있음 
- 내부적으로 람다와 동일하게 수행됨

### 1에서 10까지 정수의 제곱 리스트 만들기

In [37]:
a = list(range(1, 11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## map

In [39]:
[i for i in a]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
[i * 2 for i in a]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [41]:
list(map(lambda i: i * 2, a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [44]:
[int(i > 0) for i in a2]

[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [45]:
"-".join([str(i) for i in a])

'1-2-3-4-5-6-7-8-9-10'

## filter

In [46]:
[i for i in a]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
[i for i in a2 if i > 0 and i % 2 == 1]

[1, 3, 5]

## combine

In [51]:
[i ** 2 for i in a2 if i > 0]

[1, 4, 9, 16, 25]

## 연습문제 

1. 구구단의 n 단을 출력해 주는 함수를 만들어 봅시다. 
2. 배열에 들어있는 짝수의 갯수를 찾는 함수를 만들어 봅시다. 
3. 2번을 람다를 이용해서 구현해 봅시다.