In [1]:
import graphlab as gl

In [2]:
# Limit number of worker processes. This preserves system memory, which prevents hosted notebooks from crashing.
gl.set_runtime_config('GRAPHLAB_DEFAULT_NUM_PYLAMBDA_WORKERS', 4)

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1547690458.log

This non-commercial license of GraphLab Create for academic use is assigned to qlrqod55@gmail.com and will expire on January 16, 2020.

In [17]:
train = gl.SFrame('./train.csv')

Finished parsing file /Users/user/Documents/edu/python/kaggle_titanic/train.csv

Parsing completed. Parsed 100 lines in 0.031125 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/user/Documents/edu/python/kaggle_titanic/train.csv

Parsing completed. Parsed 891 lines in 0.006715 secs.

In [5]:
test = gl.SFrame('./test.csv')

Finished parsing file /Users/user/Documents/edu/python/kaggle_titanic/test.csv

Parsing completed. Parsed 100 lines in 0.008275 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/user/Documents/edu/python/kaggle_titanic/test.csv

Parsing completed. Parsed 418 lines in 0.005698 secs.

In [45]:
train['Sex'] = train['Sex'].apply((lambda x: 0 if x == 'male' else 1))
test['Sex'] = test['Sex'].apply((lambda x: 0 if x == 'male' else 1))

In [46]:
train['Embarked'] = train['Embarked'].apply((lambda x: 0 if x == 'S' else 1 if x == 'C' else 2))
test['Embarked'] = test['Embarked'].apply((lambda x: 0 if x == 'S' else 1 if x == 'C' else 2))

In [47]:
train = train.fillna('Age', train['Age'].mean())
test = test.fillna('Age', train['Age'].mean())

In [36]:
train_data, test_data = train.random_split(.8, seed=0)

In [82]:
features = ['Age', 'Sex', 'Pclass', 'Name', 'Parch', 'SibSp', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [72]:
train.head()

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	int
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	int

Rows: 10

Data:
+-------------+----------+--------+--------------------------------+-----+
| PassengerId | Survived | Pclass |              Name              | Sex |
+-------------+----------+--------+--------------------------------+-----+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  1  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  |  1  |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     |  1  |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  |  1  |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  1  |
|      6      |    0     |   3    |        Moran, Mr. James        |  1  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  1  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  1  |
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli...  |  1  |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade...  |  1  |
+-------------+----------+--------+--------------------------------+-----+
+---------------+-------+-------+------------------+---------+-------+----------+
|      Age      | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked |
+---------------+-------+-------+------------------+---------+-------+----------+
|      22.0     |   1   |   0   |    A/5 21171     |   7.25  |       |    2     |
|      38.0     |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    2     |
|      26.0     |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    2     |
|      35.0     |   1   |   0   |      113803      |   53.1  |  C123 |    2     |
|      35.0     |   0   |   0   |      373450      |   8.05  |       |    2     |
| 29.6991176471 |   0   |   0   |      330877      |  8.4583 |       |    2     |
|      54.0     |   0   |   0   |      17463       | 51.8625 |  E46  |    2     |
|      2.0      |   3   |   1   |      349909      |  21.075 |       |    2     |
|      27.0     |   0   |   2   |      347742      | 11.1333 |       |    2     |
|      14.0     |   1   |   0   |      237736      | 30.0708 |       |    2     |
+---------------+-------+-------+------------------+---------+-------+----------+
[10 rows x 12 columns]

In [83]:
titanic_model = gl.logistic_classifier.create(train_data,
                                                     target='Survived',
                                                     features=features,
                                                     validation_set=test_data)

WARNING: The number of feature dimensions in this problem is very large in comparison with the number of examples. Unless an appropriate regularization value is set, this model may not provide accurate predictions for a validation/test set.

Logistic regression:

--------------------------------------------------------

Number of examples          : 703

Number of classes           : 2

Number of feature columns   : 10

Number of unpacked features : 10

Number of coefficients    : 1399

Starting L-BFGS

--------------------------------------------------------

+-----------+----------+-----------+--------------+-------------------+---------------------+

| Iteration | Passes   | Step size | Elapsed Time | Training-accuracy | Validation-accuracy |

+-----------+----------+-----------+--------------+-------------------+---------------------+

| 1         | 3        | 0.001422  | 0.004932     | 0.998578          | 0.680851            |

| 2         | 5        | 1.000000  | 0.010844     | 1.000000          | 0.728723            |

| 3         | 6        | 1.000000  | 0.014446     | 1.000000          | 0.680851            |

| 4         | 7        | 1.000000  | 0.018024     | 1.000000          | 0.744681            |

| 5         | 8        | 1.000000  | 0.021684     | 1.000000          | 0.723404            |

| 6         | 9        | 1.000000  | 0.025429     | 1.000000          | 0.755319            |

+-----------+----------+-----------+--------------+-------------------+---------------------+

TERMINATED: Iteration limit reached.

This model may not be optimal. To improve it, consider increasing `max_iterations`.

In [79]:
titanic_model.evaluate(test_data, metric='roc_curve')

{'roc_curve': Columns:
 	threshold	float
 	fpr	float
 	tpr	float
 	p	int
 	n	int

 Rows: 100001

 Data:
 +-----------+-----+-----+----+-----+
 | threshold | fpr | tpr | p  |  n  |
 +-----------+-----+-----+----+-----+
 |    0.0    | 1.0 | 1.0 | 75 | 113 |
 |   1e-05   | 1.0 | 1.0 | 75 | 113 |
 |   2e-05   | 1.0 | 1.0 | 75 | 113 |
 |   3e-05   | 1.0 | 1.0 | 75 | 113 |
 |   4e-05   | 1.0 | 1.0 | 75 | 113 |
 |   5e-05   | 1.0 | 1.0 | 75 | 113 |
 |   6e-05   | 1.0 | 1.0 | 75 | 113 |
 |   7e-05   | 1.0 | 1.0 | 75 | 113 |
 |   8e-05   | 1.0 | 1.0 | 75 | 113 |
 |   9e-05   | 1.0 | 1.0 | 75 | 113 |
 +-----------+-----+-----+----+-----+
 [100001 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

In [57]:
titanic_model.show(view='Evaluation')

Canvas is accessible via web browser at the URL: http://localhost:56945/index.html
Opening Canvas in default web browser.

In [84]:
test['Survived'] = titanic_model.predict(test, output_type='class')

In [85]:
test[['PassengerId', 'Survived']].export_csv('./result.csv')